<div class="new-post-wrapper">
  <a href="/dashboard"> &larr; Back to your profile</a>
  <h1 class="new-post new-post-title">Edit your Post</h1>
  
  <form action="" class="new-post edit-post-form form" autocomplete="off">
    <div class="form-title mb-3">
      <label for="post-title" class="form-label">Title:</label>
      <input type="text" name="post-title" class="form-control" value="{{post.title}}">
    </div>
    <div class="form-content mb-3">
      <label for="post-content" class="form-label">Text:</label>
      <textarea type="text" name="post-content" class="form-control" rows="4">{{post.content}}</textarea>
    </div>
    <button type="submit" class="submit-btn">Update Post</button>
  </form>
  <button class="delete-btn">Delete Post</button>
</div>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>