{{> post-info post}}

<h2 class="comments-entry">Comments</h2>
{{#if loggedIn}}
<form action="" class="comment-form form" autocomplete="off">
  <div class="comment-input">
    <label for="comment-text" class="comment-label">Add a Comment:</label>
    <textarea type="text" rows="2" name="comment-text" class="form-control comment-text"></textarea>
  </div>
  <button type="submit" class="submit-btn">Comment</button>
</form>
{{else}}
<h3>You are not logged in, 
  <a href="/login">log in</a>
  to make comments.
</h3>
{{/if}}

{{> comments post.comments}}

<script src="/js/add-comment.js"></script>